<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <bean id="audience" class="aop1.concert.xmlconfig.Audience"/>
    <bean id="performanceBean" class="aop1.concert.PerformanceImpl"/>

    <aop:config>
        <aop:aspect ref="audience">

            <aop:pointcut id="performance" expression="execution(* aop1.concert.Performance.perform(..))"/>

            <aop:before method="silenceCellPhones" pointcut-ref="performance"/>
            <aop:before method="takeSeats" pointcut-ref="performance"/>
            <aop:after method="applause" pointcut-ref="performance"/>
            <aop:after method="demandRefund" pointcut-ref="performance"/>

        </aop:aspect>

    </aop:config>


</beans>